a > img {
  width: 35px;
  padding:0.3rem;
}
.dropdown {
  margin-top: 0.5rem;
}
.dropdown-content {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  padding-left: 0.5rem;
} 

.dropdown-item {
  display: flex;
  height: 60px;
  align-items: center;
}


/* Special classes */
